@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url(../../assets/img/bg-images.png);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.07);
}

/*login css*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--forny-font-family);
    color: black;
    color: var(--forny-color-text);
	background: #fff;
}
.form-inner {
    display: block;
    height: 100vh;
    width: 100%;
}
.form-two-pane {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.form-two-pane > div:first-child {
    display: flex;
    align-items: center;
}
.form-two-pane > div {
    flex: 1;
    background-color: white;
}
.login-form {
    margin: auto;
    text-align: center;
    width: 400px;
}
.input-group {
    background: #e9ecef;
    border-radius: 50px;
    padding: 6px 12px;
}
.input-group-text {
    background: none;
    border: none;
	font-size: 18px;
}
.form-control {
    background: none;
    border: none;
	font-size: 14px;
}
.form-control:focus {
    color: #495057;
    background-color: #e9ecef;
    border: none;
    outline: 0;
    box-shadow: none;
}
.btn {
    border-radius: 34px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}
.btn-primary {
    color: #fff;
    background-color: #f34082;
    border-color: #f24283;
}
.btn-primary:hover,.btn-primary:focus , .btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #f72c77;
    border-color: #f72c77;
	outline: none;
    box-shadow: none !important;
}
.login-form a {
    color: #f34082;
    font-weight: 500;
    font-size: 14px;
	text-decoration: none;
}
/*end login*/
/*header*/
header {
    box-shadow: 0px 2px 3px #00000014;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
	top: 0;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    padding: 0px 0px 0px 38px;
    text-transform: uppercase;
    color: #252525;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(236, 70, 132);
}
/*breadcrumb*/
.breadcrumb_section nav .breadcrumb {
    background: no-repeat;
}
.breadcrumb_section nav {
    background: #fd5593;
}
.breadcrumb-item.active {
    color: #ffffff;
}
ol.breadcrumb {
    padding: 8px;
}
li.breadcrumb-item {
    color: #fff9;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.58);
}
/*filter*/
.filter {
    margin-bottom: 16px;
    background: #fff;
    padding: 14px;
    box-shadow: 0px 3px 4px #0000001f;
}
.price select {
    padding: 6px 10px;
    width: 100px;
    border: 1px solid #ddd;
}
.right-bar ul li {
    list-style: none;
    padding: 2px 5px;
}
.search input[type="text"] {
    padding: 6px 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    width: 240px;
}
.right-bar ul li a {
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
    display: inline-flex;
    justify-content: center;
    color: #000;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    border-radius: 100%;
    text-decoration: none;
	transition: 0.8s;
}
.right-bar ul li a.active {
    background: #4285f4;
    color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.right-bar ul li a:hover {
    background: #0000001f;
}
/*dashboard css*/
.box-list {
    position: relative;
    margin-bottom: 60px !important;
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 4px;
}



.img_list {
    height: 394px;
    overflow: hidden;
	position: relative;
}
.text-list {
    padding: 14px;
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    transition: 1s;
    left: 0;
    right: 0px;
}
.box-list:hover .text-list {
    background: rgb(255, 255, 255);
    transition: 1s;
}
.text-list h2 {
    font-size: 16px;
}
.text-list h2 span {
    font-size: 13px;
    color: #f44284;
}
.text-list p {
    font-size: 13px;
    margin: 0;
    line-height: 22px;
	color: #7b7b7b;
}
.text-list h4 {
    font-size: 13px;
    margin: 8px 0px -14px;
    opacity: 0;
    transition: 1s;
    color: #505050;
    font-weight: 400;
    text-transform: uppercase;
}
.box-list:hover .list-detail h4 {
    opacity: 1;
    margin-bottom: 0;
}
.text-list .btn {
    padding: 8px 40px;
    position: relative;
    margin-bottom: -50px !important;
    z-index: 99999;
    margin-left: 0;
    margin-right: 0;

}
.list-detail {
    overflow: hidden;
    margin-bottom: -9px;
	transition: 1s;
}
.box-list:hover .list-detail {
    margin-bottom: 0;
    transition: 1s;
}
/*add form*/
.box-body .form-control {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
}
.box-body .title {
    font-size: 18px;
    margin-bottom: 21px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
	position: relative;
}
.drop_im {
    height: 210px;
    position: relative;
}
.drop {
  width: 100%;
  height: 100%;
  border: 2px dashed #DADFE3;
  border-radius: 0;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
  * cursor: pointer
  * background: #f5f5f5*/
}
.drop .cont {
   width: 400px;
   height: 100px;
   color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 28px;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #A4AEBB;
}

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
    width: 100%;
    text-align: left;
    padding: 0px 0px;
    margin-bottom: 12px;
    position: relative;
}
#list span {
    position: relative;
}
#list .thumb {
  height: 90px;
  border: 1px solid #d6d6d6;
  margin: 10px 5px 0 0;
}
.box-body form .btn {
    padding: 10px 30px;
    margin-left: 8px;
}
/**/
.form-group label.label {
    width: 220px;
    display: inline-block;
}
.form-group.d-flex {
    align-items: center;
}
.return div {
    width: 100%;
    align-items: center;
}
.return input {
    width: 100%;
    padding: 4px;
    border: 1px solid #ddd;
    height: 35px;
    border-radius: 3px;
}
.return label {
    width: 133px;
    text-align: center;
    margin: 0;
}
td button.btn {
    padding: 6px 20px;
    font-size: 12px;
}
.modal-dialog {
    top: 14%;
    max-width: 800px;
}
.modal-header {
    padding: 12px 30px;
}
.box-body .input-group {
    background: no-repeat;
    padding: 0;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 5px;
    background: #dedede;
    margin: 0;
}
.add_btn {
    position: absolute;
    right: 0;
    padding: 0;
    color: #4285f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    top: 7px;
}
.add_btn:hover {
    text-decoration: none;
}
.table-bordered td, .table-bordered th {
    vertical-align: middle;
}
.detail {
    color: #000;
}
.detail:hover {
    text-decoration: none;
    color: #000;
}
/**/
.carousel-indicators {
    position: relative;
    right: 0;
    bottom: -6px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-bottom: 62px;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 126px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}
.text-detail th {
    padding: 6px;
    font-size: 13px;
}
.text-detail h4 span {
    color: #fd5593;
    font-size: 15px;
}
.bg-back {
    background: #d0d0d0;
}
.time_rent li {
    list-style: none;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.time_rent li input[type="radio"] {
    margin-right: 8px;
}
.size_cloth span {
    width: 32px;
    height: 25px;
    background: #d4d4d4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    font-size: 12px;
    margin: 5px;
}
.size_cloth span.active {
    background: #fd5593;
    color: #fff;
}
.refundable_amount ul li {
    margin-bottom: 15px;
    font-size: 12px;
}
.text-detail .btn {
    padding: 10px 30px;
}
.booked-end-date {
    position: absolute;
    right: -40px;
    background: #fd5593;
    color: #fff;
    padding: 34px 29px 7px;
    transform: rotate(45deg);
    font-size: 10px;
    top: -10px;
    font-weight: 600;
}
td a.btn {
    padding: 6px 20px;
    font-size: 12px;
}
.edit {
    color: #4285f4;
}
.active_list {
    color: #4ab33e !important;
}
.detele {
    color: #e44d4d !important;
}
.action a {
    padding: 0px 4px;
}
#list span i.fa.fa-times {
    position: absolute;
    right: 10px;
    top: -28px;
    color: #616161;
    font-size: 8px;
    cursor: pointer;
    background: #fff;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report .btn {
    padding: 6px 20px;
}
.return .input-group {
    background: no-repeat;
    padding: 0;
}
.return .btn.btn-outline-secondary {
    border: 1px solid #ddd;
    padding: 17px;
    border-radius: 0px 5px 5px 0px;
    background: #dedede;
    margin: 0;
}
/**/
@media screen and (max-width:1200px) and (min-width:992px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 10px;
		padding: 0px 0px 0px 26px;
	}
}
@media screen and (max-width:991px) and (min-width:768px) {
	.search input[type="text"] {
		width: 175px;
	}
	.price select {
		width: 70px;
	}
	.right-bar ul li {
		padding: 2px 2px;
	}
   .navbar-light .navbar-nav .nav-link {
		font-size: 13px;
		padding: 6px 0px 7px 9px;
	}
	ul.navbar-nav {
		padding: 10px 0px 20px;
		border-top: 1px solid #ddd;
		margin-top: 13px;
	}
	.view-slide-detail {
		margin-bottom: 26px;
	}
}
@media screen and (max-width:767px) and (min-width:320px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 12px;
		padding: 6px 0px 7px 9px;
	}
	ul.navbar-nav {
		padding: 10px 0px 20px;
		border-top: 1px solid #ddd;
		margin-top: 13px;
	}
	.login-form {
		margin: auto;
		text-align: center;
		width: 100%;
		padding: 0px 30px;
	}
	.filter {
		display: inline-block !important;
		width: 100%;
	}
	.price select {
		width: 100%;
		margin-bottom: 19px;
	}
	.search {
		margin-bottom: 20px;
	}
	.search input[type="text"] {
		width: 100%;
	}
	.right-bar {
		display: inline-block !important;
		width: 100%;
	}
	.right-bar ul li {
		padding: 2px 2px;
		align-items: flex-end;
		display: flex;
	}
	.right-bar ul li a {
		width: 25px;
		height: 25px;
		font-size: 11px;
	}
	.img_list {
		height: auto;
	}
	.text-detail th, .text-detail td {
		padding: 4px 2px;
		font-size: 8px;
	}
	.time_rent li {
		padding-right: 10px;
		font-size: 9px;
	}
	.text-detail p {
		font-size: 11px;
	}
	.refundable_amount ul {
		padding-left: 17px;
	}
	button.navbar-toggler {
		border: none;
	}
	button.navbar-toggler:focus {
		outline: none;
	}
	.view-slide-detail {
		margin-bottom: 20px;
	}
	.box-body th, .box-body td {
		font-size: 11px;
		padding: 4px 5px;
		white-space: nowrap;
	}
	.box-body .title {
		font-size: 14px;
		margin-bottom: 12px;
		padding-bottom: 13px;
	}
	.add_btn {
		font-size: 10px;
		top: 3px;
	}
	.box-body .table {
		display: inline-block;
		overflow: auto;
	}
	td button.btn {
		padding: 4px 15px;
		font-size: 10px;
	}
	td a.btn {
		padding: 4px 15px;
		font-size: 10px;
	}
	.box-body .form-control {
		padding: 7px;
		font-size: 12px;
	}
	.form-group label.label {
		width: 170px;
		display: inline-block;
		font-size: 12px;
	}
	.box-body form .btn {
		padding: 8px 28px;
		margin-left: 8px;
	}
	#list .thumb {
		height: 50px;
	}
	.drop .cont .tit {
		font-size: 15px;
	}
	.drop .cont i {
		font-size: 30PX;
	}
	.drop .cont {
      width: 100%;
	  top: 56px;
	}
	.drop_im {
		height: 230px;
	}
	.box-body form .gj-datepicker-bootstrap [role=right-icon] button {
		padding: 1px 4px;
		margin-left: 8px;
	}
	.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
		font-size: 17px;
	}
	.return input {
		MARGIN-BOTTOM: 12PX;
	}
	.modal-dialog {
		width: 98%;
		top: 4px;
		margin: auto;
	}
	.modal-body.box-body {
		padding-left: 0;
		padding-right: 0;
	}
	.modal-header {
		padding: 8px 20px;
	}
}